body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #66347f;
}
.container {
  width: auto;
  height: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  color: white;
  position: fixed;
  background-color: #37306b;
  width: 100%;
  top: 0;
  z-index: 10;
}
.nav-logo h1 {
  padding: 20px;
  letter-spacing: 5px;
  opacity: 0.7;
}

.nav-list li {
  float: right;
  cursor: pointer;
  padding: 7px 0 0 25px;
  opacity: 0.7;
}

/* Contenct */

.content {
  width: 80%;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  margin: auto;
  margin-top: 100px;
  border-top: 4px solid;
}
.content_name {
  margin-top: 50px;
}
.content_name h1 {
  font-size: 70px;
  letter-spacing: 5px;
  opacity: 0.8;
}
span {
  color: orange;
}
.content_name p {
  font-size: 30px;
  opacity: 0.8;
}
.gambar {
  width: 200px;
}

.aboutme {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  border-radius: 80px;
  width: 50%;
  height: auto;
  padding: 25px;
  background-color: #9e4784;
  border-top: 4px solid;
}

.aboutme h1 {
  padding: 20px;
  opacity: 0.8;
}

.proyek {
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.proyek h1 {
  padding: 45px;
}
.gambar2 {
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
}

.ogambar img {
  width: 300px;
  height: 300px;
  margin: 0px 40px;
  border-radius: 20px;
}

footer {
  width: auto;
  margin: auto;
  background-color: #37306b;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 40px 20px;
  margin-top: 20px;
  color: white;
}
.list-footer {
  font-size: 15px;
  color: white;
}
